.App {
  text-align: center;
}


  

.custom-bg-color {
    background-color: #E3B448;
}

.button.is-danger.is-outlined {
    border-color: #783937;
    color: #783937;
}
.button.is-danger.is-outlined:hover {
    /* background-color: #123456; */
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #61dafb;
}
